*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  color: #f4edea;
  line-height: 1.7;
  padding: 5px 10px;
  flex: 1;
  border-radius: 20px;
  max-width: none;
  margin: 15px 10px;
  text-align: left;
}

body {
  background-color: #040348;
  color: #f4edea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Georgia", "Times New Roman", serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
}

nav a {
  color: #c9d1d9;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 4px;
}

header,
footer {
  background-color: #191716;
  color: #f4edea;
  padding: 25px 32px;
  text-align: center;
  width: 100%;
}

h1 {
  display: inline;
}
